<li class="item">
    <div class="item-head">
      <h2><a href="{{ p.url | relative_url }}" class="post-header">{{ p.title }}</a></h2>
      <span>{{ p.date | date: "%d.%m.%Y" }}
      </span>
      {% if site.enabled.tags == true %}
       — 
          {% if p.tags  %}
            <span class="tags">
              {% for t in p.tags %}
                <a href="{{site.baseurl}}/tag/{{t | downcase }}">#{{t}}</a>
              {% endfor %}
            </span>
          {% endif %}
        {% endif %}
      <!-- <span><a href="https://twitter.com/{{site.author.twitter}}">@{{ site.author.twitter }}</a></span> -->
    </div>
    <p>{{ p.excerpt | truncatewords: 20 }}</p>
</li>
