header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  ul {
    list-style: none;
    padding-left: 0;
    margin-right: 50px;
    -webkit-overflow-scrolling: touch;
  }
  li {
    display: inline-block;
    margin: 0 1rem;
    white-space: nowrap;
  }
 
}

.title {
  width: 100%;
  text-align:center;
  a {
    text-decoration: none;
    color: $textColor;
  }
  .logo-svg {
    margin-left:auto;
    margin-right:auto;
    display:block;
    height:8rem;
    max-width: calc(80%);
    padding-top:2rem;
  }
}


.nav-main {
  width: 100%;
  padding-top:2rem;
  text-align:center;

  .nav-content {
    margin-left:auto;
    margin-right:auto;
    padding-right:2rem;
    padding-left:2rem;
    display:block;
    max-width: calc(100% - 4rem);
    font-size: 2rem;
  }
}

.svg path {
    fill: white!important;
}

.title a:focus {
  outline:none;
  margin-left:0rem;
  padding-left:0rem;
  padding-right:0rem;

  .logo-stroke {
  stroke:none;
  fill-opacity: 1;
  transition: 0.3s;

    .logo-fill {
      fill:$henna;
    }
  }
}

.title a:hover {
  outline:none;
  margin-left:0rem;
  padding-left:0rem;
  padding-right:0rem;

  .logo-stroke {
  stroke:none;
  fill-opacity: 1;
  transition: 0.3s;

    .logo-fill {
      fill:$henna;
    }
  }
}