$font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;


//Palette

$base: #21272e;
$textColor: #f8f8f0;
$accent: #e74c3c;
$tertiary: #1abc9c;

$blockquotebg: yellow;
$figurebg: pink;
$codebg: green;
//Structure
$break: 500px;

