$font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700');

$bodyfont: 'Quattrocento', serif;
$headerfont: 'Oswald', sans-serif;

//Palette

$base: #21272e;
$textColor: #f8f8f0;
$accent: #e74c3c;
$tertiary: #1abc9c;

// Colors
$asphalt: #21272e;
$black: #161416;
$slate: #262D35;
$steel: #9da5b4;
$white: #f8f8f0; 
$lime: #9cd230;
$henna: #e74c3c;
$spring: #53df83;
$aqua: #1abc9c;
$sky: #56b6c2;

//Variables
$blockquotebg: $henna;
$figurebg: $slate;
$codebg: $lime;
$darkonlight: $asphalt;
$lightondark: $white;
//Structure
$break: 500px;

